@charset "UTF-8";

:root {
  /*light mode*/
  --primary: #00c0c6;
  --secondary: white;
  --accent: black;
  --primaryText: black;
  --secondaryText: white;
  --shadow: rgb(37, 37, 37);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
}

body {
  background: var(--secondary);
  color: var(--primaryText);
  margin: 0;
  margin-top: 4rem;
}

p {
  font-size: 18px;
  font-family:'Courier Prime', monospace;
  padding: 0 0 10px 0;
  line-height: 2;
}

h1 {
  text-align: center;
  margin: 0 0 1rem 0;
}

.sectionHeaderLight {
  text-align: center;
  color: var(--secondary);
  font-size: 2rem;
  border-bottom: 2px solid var(--secondary);
  font-family:'Courier New', Courier, monospace;
}

.sectionHeaderDark {
  text-align: center;
  color: var(--accent);
  font-size: 2rem;
  border-bottom: 2px solid var(--accent);
  font-family:'Courier New', Courier, monospace;
}

/* For mobile style */
@media (max-width: 767px) {
}

/* For PC / desktop style */
@media (min-width: 1024px) {
  section {
    scroll-snap-align: start;
    padding: 2rem;
  }

  /* LOGO IMAGE AT NAVIGATION BAR */
  .logo {
    height: 65px;
    width: 65px;
    background-color: var(--secondary);
    margin: 10px 0 0 20px;
    border: solid 2px black;
    border-radius: 50%;
    text-align: center;
    position: fixed;
  }

  .logoImg {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  /* NAVIGATION BAR */
  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: right;
    background-color: var(--secondary);
    z-index: 1000;
    box-shadow: 2px 2px 20px 1px var(--shadow);
  }

  #change:hover a {
    background-color: var(--primary);
    color: var(--secondary);
    transition: 0.2s;
    text-shadow: none;
  }

  .navbar ul {
    padding: 10px 25px;
    margin: 0;
  }

  .navbar li {
    display: inline-block;
  }

  .navbar a {
    text-decoration: none;
    display: block;
    padding: 25px 20px 25px 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 15px;
    color: var(--accent);
  }

  /* HERO SECTION */

  .heroContainer {
    display: flex;
    padding: 2rem;
    height: auto;
    background-color: #f9f8fd;
  }

  .headline {
    display: inline-block;
    font-size: 10px;
    margin: auto;
    font-family:'Courier Prime', monospace;
  }

  .subHeadline {
    color: var(--primary);
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    -webkit-text-stroke: 2px black;
  }

  .main {
    padding-top: 1.5rem;
  }

  .mainImg {
    position: relative;
    top: 2rem;
  }

  /* ABOUT PAGE SECTION */
  #about {
    background-color: var(--primary);
  }

  .aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-top: 2rem;
    height: auto;
    background-color: blue;
  }

  .aboutDiv {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0 2rem 0 2rem;
    grid-column: span 2;
    color: var(--secondary);
    text-align: justify;
    background-color: red;
  }

  .aboutImg img {
    position: relative;

    width: 100%;
    height: auto;
    margin: auto;
    grid-column: span 1;
    border-radius: 1rem;
    box-shadow: 10px 10px 30px 1px rgb(37, 37, 37);
  }

  /* EDUCATION SECTION */

  .divEduc {
    display: inline-flex;
    text-align: left;
    margin: 12px;
    gap: 1rem;
  }

  .divEduc p {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .divEduc img {
    width: 55px;
    height: 55px;
  }

  /* SKILLS SECTION */
  #skills {
    background-color: var(--primary);
  }

  .skillsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }

  .skillsDiv {
    background-color: var(--secondary);
    box-shadow: 2px 2px 20px 2px var(--shadow);
    border-radius: 1rem;
    padding: 2rem;
    height: 400px;
    width: 300px;
    margin: auto;
  }
  /* PROJECTS SECTION */

  .projectsMainContainer {
    display: grid;
    grid-template-columns: 10rem 10rem;
    align-items: center;
    background-color: blue;
  }

  .projectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: space-between;
    margin: 2rem;
    background-color: red;
    width: 450px;
  }

  .projectsContainer img {
    width: 500px;
    height: auto;
  }

  /* CERTIFICATES SECTION */
  #certificates {
    background-color: var(--primary);
  }

  #certificates img {
    width: 23%;
    height: auto;
    border: solid 1px black;
    display: inline-block;
    margin: auto;
  }

  /* CONTACTS SECTION */
  #contacts {
    background-color: var(--secondary);
  }

  .contactsMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }

  .contactsContainer {
    display: inline-block;
  }

  .contactsContainer img {
    width: 55px;
    height: 55px;
  }

  /* FOOTER SECTION */
  #footer {
    background-color: var(--primary);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    padding: 3rem;
  }
}

/* For large desktop with 1280px and above */
